<div class="container-fluid">
    <div class="container wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>Правила Фотохостинга эФПик</h1>
                <p>Сервис <b>fPicture.ru</b> является бесплатным и предоставляется "как есть", без каких-либо гарантий и
                    обязательств.</p>

                <p>Запрещается размещать изображения нарушающие законодательство Российской Федерации.</p>

                <p>Администратор сервиса оставляет за собой право удалять изображения без уведомления лиц загрузивших их
                    на
                    сервер.</p>

                <p>Для загрузки на сервер допускаются файлы изображений в форматах:</p>
                <ul>
                    <li><b>JPEG (JPG)</b></li>
                    <li><b>GIF</b></li>
                    <li><b>PNG</b></li>
                </ul>

                <p>В настоящее время установлено ограничение на максимальный размер одного файла в 10 мегабайт, т.е.
                    файлы имеющие
                    больший размер загружены не будут.</p>

                <p>Количество загружаемых изображений и их совокупный размер не ограничены. Максимальное количество изображений для загрузки за раз не более 20.</p>

                <p>Продолжительный срок хранения: Если ваши снимки не просматривались более 60 дней то они будут
                    автоматически
                    удалены</p>
            </div>
        </div>
    </div>
</div>